.masthead {
  background-color: #0D47A1;
  width: 100%;
  height: auto;
  margin: auto;
}

.sets {
  background-color: blue;
}

h1 {
  text-align: center;
  color: grey;
  margin: auto;
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}

h2 {
  text-align: center;
  color: grey;
}

img {
  width: 85%;
  height: 180px;
  border: 2px solid white;
  box-shadow: 2px 2px 2px #999;
  margin: 10px 10px 10px 25px;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  margin-left: 0;
  margin-right: 0;
  color: green;
}

p {
  text-align: center;
  border: 1px solid #EEEEEE;
  background-color: #EEEEEE;
  margin: auto;
  width: 85%;
  height: auto;
  font-size: 1em;
  font-family: 'Alegreya Sans', sans-serif;
}

@media screen and (min-width: 600px) {

  .masthead {
    width: 100%;
    height: auto;
    margin: auto;
  }

  body {
    font-family: 'Alegreya Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
    color: brown;
  }

  img {
    width: 75%;
    height: auto;
  }

  p {
    width: 60%;
    height: auto;
    color: lightblue;
  }

  @media screen and (min-width: 1100px) {

  h1 {
    color: black;
  }

  .masthead {
    width: 100%;
    height: auto;
  }

  img {
    width: 75%;
    height: auto;
  }

  p {
    width: 60%;
    height: auto;
  }
